<img src="/assets/map.png" class="img-background">

<div id="background">
  <div class="teachable-logo"><%= image_tag "teachable-logo.png" %></div>
  <div class="search-button current-page">
  <a href="/">Search</a></div>
  <div class="fav-button">
  <a href="/favorites">Favorites</a></div>
</div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Search Gems</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4 col-md-offset-3">
        <form action="" class="search-form">
          <%= form_tag "/", method: :get do %>
            <div class="form-group has-feedback">
          		<label for="search" class="sr-only">Search Gems</label>
          		<input type="text" class="form-control" name="search_result" id="search" placeholder="Search Gems">
            	<span><input type="image" img src="/assets/magnifying-glass.png" class="img-magnifying-glass" alt="Submit Form"%></span>
          	</div>
          <% end %>
          <% if @gem ==  [] %>
				    <h5>Please enter a valid ruby gem.</h5>
          <% else %>
            <% @gem.first(1).each do |result| %>
              <p class="gem-name"> <a href=" <%= result["project_uri"] %>" target="_blank">
                <%= result["name"] %></a> <img src="/assets/star-gray" onclick="addToListFavGems(this)"/></p>
              <p class="information"> Information </p>
                <p> <%= result["info"] %> </p>
              <p class="information"> Dependencies </p> 
                <% result["dependencies"]["runtime"].each do |dependency| %>
                  <p> <%= dependency["name"] %> </p>
                <% end %>
            <% end %>
			    <% end %>
        </form>
      </div>
    </div>
  </div>    


