<img src="/assets/map.png">
	<h1>Search Gems</h1>	
      <form class="navbar-form navbar-left">
        <%= form_tag "/", method: :get do %>
          <div class="form-group">
            <input type="text" class="form-control" name="search_result" placeholder="Search...">
           </div>
            <input type="submit" class="btn btn-default">
        <% end %>
      </form>

      <% @gems.first(1).each do |result| %>
      	<p> <a href=" <%= result["project_uri"] %>" ><%= result["name"] %></a></p>
      	<p> Information </p>
      	<p> <%= result["info"] %> </p>
      	<p> Platform </p> 
      	<p> <%= result["platform"] %> </p>
      <% end %>